@import '../../../styles/imports';




.review-block{
    padding-top: 80px;
    h2{
      text-align: center;
    }
    &-inner{
      background: #F7F8FA;
      border-radius: 12px;
      display: flex;
      flex-wrap: wrap;
      margin-top: 27px;
      padding: 50px 40px;
      @include media-breakpoint-up(md) {
        padding: 60px 120px;
      }
    }
    &__img{
      width: 100%;
      margin-bottom: 25px;
      text-align: left;
      @include media-breakpoint-up(md) {
        width: 50%;
      }
    }
    &__text{
      width: 100%;
      @include media-breakpoint-up(md) {
        width: 40%;
        margin-left: 65px;
      }
      
      h2{
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 15px;
      }
      p{
        font-size: 16px;
        line-height: 28px;
      }
    }
  }