@import '../../../styles/imports';


.block-permalinks{
    &__title{
        text-align: center;
    }
}

.page-seo{
    .banner{
        margin-bottom: 80px;
        &-inner{
            text-align: center;
            justify-content: center;
        }
        &__title{
            color: #fff;
            
            @include media-breakpoint-down(md) {
             
                font-size: 32px;
                line-height: 52px;
            }
        }
        &__subtitle{
            font-size: 32px;
            line-height: 44px;
            color: #fff;
        }
        &__power{
            justify-content: center;
        }
        &__img{
           
            @include media-breakpoint-up(md) {
                position: absolute;
                top:0;
                right: -150px;
              }
        }
    }
}

.block-permalinks{
    &__links{

        &-row{
            display: flex;
            flex-wrap: wrap;
            border-bottom: 1px solid #E9E9E9;
            padding: 15px 0 10px;
        }
    }

    &-link{
        
        
        border-radius: 10px;
     

        width: 50%;
        margin-bottom: 10px;
        .page-link{
            font-size: 20px;
            line-height: 44px;
            color: #222222;
        }
        @include media-breakpoint-up(md) {
            width: 33%;
          }

        &:hover{
            background: #44CEED;
                opacity: 0.3;
        }

        
    }
}

.post-content{
    p{
        font-size: 16px;
        line-height: 28px;
    }
}