@import '../../../../../styles/imports';

.news {
  overflow: hidden;

  &__title {
    margin-bottom: 55px;
  }

  &__slider {
    padding: 0 0 30px;
    overflow: visible;

    @include media-breakpoint-up(md) {
      padding: 0 30px 30px;
    }

    @include media-breakpoint-up(xl) {
      padding: 0 0 30px;
    }
  }

  &__slide {
    opacity: 0.2;
    transform: translateY(20px);
    transition: all 0.2s;

    &.swiper-slide-visible {
      opacity: 1;
      transform: translateX(0);
    }
  }

  &__link-wrap {
    margin-top: 20px;
  }

  &__link-more {
    display: inline-block;
    @include link-clicker;
    color: inherit;
  }
}
