*.pyc
*.pyo
*.pyd
*.swp
*.*~
*.*project*
*.settings
*.sqlite3

.idea
.DS_Store
.coverage
.metadata
.cache
.pytest_cache

media
logs
report
reports
tmp*

frontend/html
backend
data

*.yml
.env
.gitignore
*.md

Dockerfile