@import '../../../styles/imports';

.products-item {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  text-align: center;

  &__col-border {
    @include media-breakpoint-up(lg) {
      border-left: 1px solid rgba($color-text, 0.1);
    }
  }

  &__badge {
    display: flex;
    justify-content: center;
    margin-bottom: 21px;
  }

  &__title {
    margin-bottom: 15px;

    &--badges-offset {
      @include media-breakpoint-up(md) {
        margin-top: 45px;
      }
    }
  }

  &__descr {
    max-width: 315px;
    margin-bottom: 40px;
  }

  &__img-wrap {
    margin-bottom: 30px;
    width: 100% !important;

    @include media-breakpoint-up(md) {
      margin-bottom: 40px;
    }
    img {
      object-fit: contain !important;
    }
  }

  &__info-list {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  &__info {
    width: 100%;
    flex: 0 0 170px;
    max-width: 170px;
    padding: 0 12px;

    &:nth-of-type(even) {
      border-left: 1px solid $color-mercury;
    }
  }

  &__info-title {
    font-size: 28px;
    font-family: $font-2;
    font-weight: $fw-medium;

    sup {
      top: -0.3em;
    }
  }

  &__info-descr {
    text-transform: uppercase;
    font-size: 13px;
    opacity: 0.3;
  }

  &__links {
    margin-top: 25px;
  }

  &__link {
    @include link-clicker;
    display: inline-flex;
    align-items: center;

    @include media-breakpoint-up(lg) {
      font-size: 24px;
    }

    &--btn {
      &.ant-btn-custom.ant-btn {
        padding: 0;
        height: auto;

        @include media-breakpoint-up(lg) {
          font-size: 24px;
        }
      }
    }
  }

  &__link-icon {
    font-size: 16px;
    margin-left: 8px;
    position: relative;
    top: 0.1em;

    @include media-breakpoint-up(lg) {
      margin-left: 16px;
    }
  }

  &__features-list {
    text-align: left;
    margin-top: 55px;
    margin-bottom: 24px;

    &--offset-title {
      @include media-breakpoint-up(lg) {
        margin-top: 55px;
      }
    }
  }

  &__feature-item {
    font-family: $font-2;
    font-size: 20px;
    line-height: 28px;
    max-width: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 24px;
  }

  &__btn-add-to-cart {
    max-width: 315px;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
  }
  &__btn-disabled {
    max-width: 315px;

    &.ant-btn-custom.ant-btn[disabled] {
      background: linear-gradient(270deg, #615d6c -24.15%, #a39ea8 178.98%);
    }
  }
}
