::-webkit-scrollbar {
  width: 5px;
  height: 0px;
}

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-track {
  background-color: #fff;
  border-radius: 50px;
}

::-webkit-scrollbar-track-piece {
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(
    0deg,
    #5b34ee -12.86%,
    #ff3a3a 37.74%,
    #ffcd4d 105.89%
  );
  border-radius: 50px;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}
html {
  scrollbar-color: #ff3a3a #fff;
  scrollbar-width: thin;
}
body {
  font-family: $font-1;
  color: $color-text;
  font-size: 16px;
  line-height: 1.4;
  font-feature-settings: normal;
  font-variant: normal;
}

.container {
  padding-left: $container-padding-xs;
  padding-right: $container-padding-xs;

  &--wide {
    max-width: 1120px + $container-padding-xs * 2;
  }
}


.ant-btn-custom.ant-btn-primary::before{
  position: relative !important;
  width: auto !important;
  height: auto !important; 
}