ul,
ol {
  padding: 0;
  margin: 0;
}

a {
  color: $color-accent;
  transition: color 0.2s;
  text-decoration: none;
  &:hover {
    color: darken($color-accent, 20);
  }
}

.text-content {
  p {
    margin: 0 0 1em;
  }

  ul,
  ol {
    padding-left: 18px;

    li {
      margin-bottom: 0.5em;
    }
  }
}
