@import '../../../styles/imports';


.block-permalinks{
    &__title{
        text-align: center;
    }
}

.page-seo{
    .banner{
        margin-bottom: 80px;
        &-inner{
            text-align: center;
            justify-content: center;
        }
        &__title{
            color: #fff;
            
            @include media-breakpoint-down(md) {
             
                font-size: 32px;
                line-height: 52px;
            }
        }
        &__subtitle{
            font-size: 32px;
            line-height: 44px;
            color: #fff;
        }
        &__power{
            justify-content: center;
        }
        &__text{
            @include media-breakpoint-down(md) {
                padding-top: 15px;
            }
        }
        &__subtitle{
            @include media-breakpoint-down(md) {
                display: none;
            }
        }
        &__img{
          
            @include media-breakpoint-down(md) {
                bottom: -15%;
            }
            @include media-breakpoint-up(md) {
                right: -150px;
            }
        }
    }
}



.post-content{
    p{
        font-size: 16px;
        line-height: 28px;
    }
}