@import '../../../styles/imports';
.sectionSlider {
  .swiper-pagination-bullet {
  }
  .product-card__slider .swiper-pagination-bullet:before {
    width: 60px;
  }
  .product-card__slider-gt {
    margin-bottom: 100px;
  }
}

.advantages {
  margin-bottom: 100px;

  @include media-breakpoint-up(lg) {
    margin-bottom: 0;
  }
}
.instructions {
  margin-top: 50px;
}

.specs {
  margin-top: 50px;

  @include media-breakpoint-up(md) {
    margin-bottom: 130px;
  }

  @include media-breakpoint-up(lg) {
    margin-bottom: 0;
  }
}

.feedback {
  margin-top: 70px;

  @include media-breakpoint-up(md) {
    margin-top: 0;
  }

  @include media-breakpoint-up(lg) {
    margin-top: 80px;
  }
}

