@import '../../../styles/imports';

.tech-specs {
  &__title {
    margin-bottom: 30px;

    @include media-breakpoint-up(md) {
      margin-bottom: 60px;
    }
  }

  &__groups {
    // display: grid;
    // gap: 25px 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    @include media-breakpoint-up(md) {
      flex-direction: row;
    }
    div {
      margin-bottom: 30px;
    }
   
  }

  &__group {
    display: grid;
    gap: 8px 0;

    &--table {
      &-md {
        @include media-breakpoint-up(md) {
          grid-template-columns: 200px 1fr;
          gap: 0 25px;
        }
      }

      &-lg {
        @include media-breakpoint-up(lg) {
          grid-template-columns: 200px 1fr;
          gap: 0 25px;
        }
      }
    }
  }

  &__group-title {
    font-weight: $fw-bold;
  }

  &__group-info {
    font-size: 20px;
    line-height: 1.6;
  }
}
