@import '../../../styles/imports';

.car-celects-after {
  display: none;
  padding: 50px 0;
  text-align: center;
  @include media-breakpoint-up(md) {
    display: block;
  }
  &__description {
    font-size: 20px;
    line-height: 28px;
  }
}


.banner{
  // padding: 87px 0 0;
  position: relative;
  &__title{
    color: #FF5439;
    font-size: 48px;
    line-height: 59px;
    font-weight: bold;
    margin-bottom: 13px;
    span{
      display: block;
      color: #FFFFFF;
    }
  }
  &__description{
    color: #FFFFFF;

    font-size: 13px;
    line-height: 28px;
    margin-bottom: 48px;
  }
  &__power{
    display: flex;

    margin: 0 -10px 55px;
    
  }
  &-power{
    &-item{
      background: rgba(255, 255, 255, 0.1);
      backdrop-filter: blur(2px);

      /* Note: backdrop-filter has minimal browser support */
      border-radius: 22px;
      color: #FFFFFF;
      margin: 0 10px;
      padding: 7px 11px;
      &__title{
        font-size: 28px;
        line-height: 44px;
      }
      &__text{
        font-size: 13px;
        line-height: 28px;
      }
    }
  }

  &__img-background{
    // position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  &-inner{
    display: flex;
    flex-wrap: wrap;
    position: relative;
  }
  &-inner-block{
    position: absolute;
    top: 33%;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translateY(-50%);
    @include media-breakpoint-up(md) {
      top: 45%;
    }
  }
  &__text{
    
    .page-btn{
      max-width: 360px;
    }
    @include media-breakpoint-up(md) {
      width: 50%;
    }
  }
  &__img{
    width: 100%;
    display: flex;
    @include media-breakpoint-up(md) {
      width: 50%;
      
    }
    .page-img{
      // right: -63px;
      // bottom: -68px;
      width: 100%;
    }
  }

}
.product-about{
  padding-top: 80px;
  h2{
    text-align: center;
  }
  &-inner{
    display: flex;
    flex-wrap: wrap;
    background: #F7F8FA;
    border-radius: 12px;
    @include media-breakpoint-up(md) {
      padding: 52px 95px;
    }
  }
  &__text{
    width: 100%;
    @include media-breakpoint-up(md) {
      width: 50%;
    }
    h2{
      font-size: 56px;
      line-height: 72px;
    }
    p{
      font-size: 16px;
      line-height: 28px;
    }
  }
  &__img{
    width: 100%;
    @include media-breakpoint-up(md) {
      width: 50%;
    }
    .page-img_mob{
      @include media-breakpoint-up(md) {
        display: none;
      }
    }
    .page-img_desc{
      display: none;
      @include media-breakpoint-up(md) {
        display: flex;
      }
    }
  }
  &__actions{
    display: flex;
    align-items: center;
    margin: 0 -15px;
    flex-direction: column;
    @include media-breakpoint-up(md) {
      flex-direction: row;
    }
    .page-btn{
      max-width: 262px;
      margin: 0 15px;
    }
  }
}

.advantages{
  h2{
    text-align: center;
  }
  padding-top: 80px;
  &-items{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
  }
  &-item{
    display: flex;
    flex-direction: column;
    margin: 0 15px;
    width: 40%;
    text-align: center;
    align-items: center;

    @include media-breakpoint-up(md) {
      width: 25%;
    }

    &__icon{
      width: 30px;
      height: 30px;
  
     
      &-bg{
        width: 80px;
        height: 80px;
        background: rgba(#C4C4C4, .15);
        border-radius: 100%;
        margin-bottom: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    &__text{
      font-size: 16px;
      line-height: 28px;
    }
  }
}

.review{
  padding-top: 80px;
  h2{
    text-align: center;
  }
  &-inner{
    background: #F7F8FA;
    border-radius: 12px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 27px;
    padding: 20px 50px;
    @include media-breakpoint-up(md) {
      padding: 60px 120px;
    }
  }
  &__img{
    width: 100%;
    @include media-breakpoint-up(md) {
      width: 50%;
    }
  }
  &__text{
    width: 100%;
    @include media-breakpoint-up(md) {
      width: 50%;
      margin-left: 100px;
    }
    
    h2{
      font-size: 24px;
      line-height: 32px;
    }
    p{
      font-size: 16px;
      line-height: 28px;
    }
  }
}

.featured{
  &-inner{
    display: flex;
    flex-wrap: wrap;
  }

  &__partners-row{
    width: 100%;
    padding-top: 27px;
    padding-bottom: 92px;
  }

  &__text{
    width: 100%;
    @include media-breakpoint-up(md) {
      width: 60%;
    }
    
    
    font-size: 32px;
    line-height: 44px;
    font-weight: bold;
    &-container{
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      text-align: center;
      margin: 0 auto;
      @include media-breakpoint-up(md) {
        padding: 0 100px;
      }
      
    }
    
  }
  &__img{
    
    width: 100%;
    @include media-breakpoint-up(md) {
      width: 40%;
    }
    
  }
}

.certificate-block{
  padding-top: 100px;
  &-inner{
    padding-top: 10px;
  }
}

