@import '../../../../styles/imports';


.support-banner {
  position: relative;
  padding: 34px 32px;
  height: 600px;
  @include media-breakpoint-up(md) {
    height: 404px;
  }
  
  @include media-breakpoint-down(md) {
    text-align: center;
  }

  background: rgb(25, 21, 18);
  background: linear-gradient(
    90deg,
    rgba(25, 21, 18, 1) 0%,
    rgba(28, 27, 25, 1) 100%
  );
  color: #fff;
  border-radius: 12px;
  overflow: hidden;

  @include media-breakpoint-up(md) {
    display: flex;
    align-items: left;
    height: 358px;
    padding: 50px 60px;
    background: #0f0c0b;
  }

  &-text{
    position: relative;
  }

  &__title {
    position: relative;
    font-size: 18px;
    line-height: 30px;
    font-weight: $fw-medium;
    
    margin-bottom: 50px;
    
    @include media-breakpoint-up(md) {
     
      text-align: left;
    }

    @include media-breakpoint-up(lg) {

      max-width: 480px;
    }

    a {
      color: #fff;
      white-space: nowrap;
    }
    &-h2{
      color: #fff;
      
      margin-bottom: 18px;
      font-size: 18px;
      line-height: 30px;
      @include media-breakpoint-up(md) {
        font-size: 32px;
        line-height: 44px;
      }
  
    }
  }

  &__img-wrap {
    @include responsive-media(504, 756);
    position: absolute;
    width: 550px;
    left: 50%;
    margin-left: -275px;
    bottom: -80px;

    @include media-breakpoint-up(md) {
      width: 756px;
      margin: 0;
      left: auto;
      right: -180px;
      bottom: -190px;
    }

    @include media-breakpoint-up(lg) {
      right: -30px;
    }
  }
}
.page-btn{
  background: linear-gradient(66.12deg, #C74FDF 8.88%, #8F67F6 88.15%) !important;
  text-transform: uppercase;
}