@import '../../../../styles/imports';

.cart-btn {
  @include link-clicker;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 40px;
  height: 40px;

  font-size: 24px;

  &__icon {
    display: flex;
    width: 1em;
    height: 1em;
    fill: #1d1d1f;
  }

  &__notify {
    position: absolute;
    right: 3px;
    top: 5px;
    width: 16px;
    height: 16px;

    text-align: center;
    line-height: 16px;
    font-weight: $fw-medium;
    font-size: 10px;
    font-style: normal;
    border-radius: 50%;
    color: #fff;
    background-color: $color-accent;
  }
}
