@import '../../../../styles/imports';

.reviews {
    &__list {
      display: flex;
      flex-direction: column;
      list-style: none;
      margin-top: -45px;
    }
  
    &__item {
      margin-top: 45px;
    }
  }
  