@import '../../../../../styles/imports';

.hero {
  overflow: hidden;
  padding-top: 0;

  &__img-background {
    position: relative;
    left: 50%;
    font-size: 640px;
    width: 1em;
    margin: -70px 0 0 -0.5em;

    @include media-breakpoint-up(md) {
      font-size: 680px;
      margin-top: -70px;
    }

    @include media-breakpoint-up(lg) {
      font-size: 792px;
      margin-top: -90px;
    }
  }

  &__img-product {
    display: flex;
    justify-content: center;

    margin: -140px auto 100px;
    width: 100%;
    transform: scale(1);
    // display: block;
    // width: 280px;
    // transform: scale(1.6);
    // right: 30px;

    @include media-breakpoint-up(md) {
      margin: -120px auto 90px;
      width: 370px;
    }

    @include media-breakpoint-up(lg) {
      margin: -220px auto 70px;
      width: 659px;
    }
  }

  &__title {
    max-width: 700px;
    margin-bottom: 30px;

    font-size: 40px;
    line-height: 52px;

    @include media-breakpoint-up(lg) {
      margin-bottom: 40px;
    }
  }
}
