@import '../../../../../styles/imports';

.gtr-charts {
  @include media-breakpoint-up(lg) {
    padding-top: 140px;
  }

  &__title {
  }

  &__text {
    line-height: 1.75;
  }

  &__slider {
    font-size: 300px;
  }

  &__frame {
    padding: 12px;
    border-radius: 12px;
    border: 1px solid $color-mercury;

    @include media-breakpoint-up(md) {
      padding: 16px;
    }
  }

  &__tabs {
    margin-bottom: 28px;
  }

  &__car-info {
    color: rgba($color-text, 0.3);
  }
}
