@import '../../../../../styles/imports';

.banner {
  position: relative;
  &__title {
    color: white;
    position: absolute;
    top: 18%;
    width: 80%;
    left: 0;
    font-weight: 600;

    left: 50%;
    transform: translateX(-50%);

    font-size: 32px;
    line-height: 52px;
    @include media-breakpoint-up(md) {
      width: 60%;
    }
    @include media-breakpoint-up(lg) {
      font-size: 40px;
      line-height: 52px;
      width: 38%;
    }
  }
  &__btn {
    width: auto;
    position: absolute;
    bottom: 25%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
  }
  &__img-background {
    img {
      border-radius: 12px;
    }
  }
}
.performance__btn-wrap .banner__btn.ant-btn-custom.ant-btn-primary {
  color: #fff;
  border-color: #fff;
  &:active {
    top: auto;
  }
}
