@import '../../../../../styles/imports';

.dyno-section {
  overflow: hidden;

  &__title {
  }

  &__descr {
    font-size: 20px;
    line-height: 1.6;
    margin-bottom: 38px;
  }

  &__features {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0 20px;

    @include media-breakpoint-up(lg) {
      gap: 0 32px;
    }
  }

  &__feature {
    color: #000;
    padding: 24px 10px 18px;
    background: $color-athens-gray;
    border-radius: 16px;
    text-align: center;
    transition: background 0.3s ease;

    @include media-breakpoint-up(lg) {
      padding: 40px 12px 24px;
    }

    &:hover {
      background: darken($color-athens-gray, 1);
    }
  }

  &__feature-icon {
    margin-bottom: 15px;
    display: inline-block;
    font-size: 65px;

    @include media-breakpoint-up(lg) {
      font-size: 80px;
      margin-bottom: 20px;
    }
  }

  &__feature-text {
    font-size: 16px;
    line-height: 1.5;
    font-weight: $fw-bold;
  }

  &__img {
    min-width: 390px;
    margin: 0 0 0 -20px;

    @include media-breakpoint-up(md) {
      width: 806px;
      margin: -50px 0 -80px -10px;
    }

    @include media-breakpoint-up(lg) {
      width: 887px;
      margin: -60px 0 -80px 20px;
    }
  }
}
