@import '../../../styles/imports';


.exposition {
    overflow: hidden;
  
    &__title {
      margin-bottom: 75px;
      max-width: 840px;
    }
  
    &__test {
    }
  
    &__image-wrap {
      position: relative;
      display: block;
      left: 50%;
      width: 700px;
      margin-left: -170px;
  
      @include media-breakpoint-up(md) {
        margin-left: -300px;
        width: 1200px;
      }
  
      @include media-breakpoint-up(xl) {
        margin-left: -100px;
      }
    }
  
    &__image {
      width: 100%;
    }
  
    &__nums {
      list-style: none;
    }
  
    &__num {
      position: absolute;
      z-index: 1;
  
      &--active {
        z-index: 2;
      }
  
      &--1 {
        top: 70px;
        left: 70px;
  
        @include media-breakpoint-up(md) {
          top: 120px;
          left: 110px;
        }
      }
  
      &--2 {
        top: 110px;
        left: 123px;
  
        @include media-breakpoint-up(md) {
          top: 180px;
          left: 210px;
        }
      }
  
      &--3 {
        top: 180px;
        left: 170px;
  
        @include media-breakpoint-up(md) {
          top: 334px;
          left: 300px;
        }
      }
  
      &--4 {
        top: 90px;
        left: 180px;
  
        @include media-breakpoint-up(md) {
          top: 170px;
          left: 305px;
        }
      }
    }
  
    &__num-icon {
      position: relative;
      z-index: 1;
      display: flex;
      align-items: center;
      justify-content: center;
  
      width: 30px;
      height: 30px;
      padding: 0;
      border-radius: 50%;
      border: none;
      background: $color-accent;
  
      box-shadow: 0 0 0 6px rgba($color-accent, 0.2);
      color: #fff;
      transition: box-shadow 0.2s;
  
      cursor: help;
  
      &:hover {
        box-shadow: 0 0 0 10px rgba($color-accent, 0.2);
      }
  
      &:focus {
        outline: none;
      }
    }
  
    &__num-bubble {
      display: none;
  
      @include media-breakpoint-up(md) {
        display: block;
        position: absolute;
        top: -30px;
        left: -40px;
        width: 392px;
        padding: 28px 40px 40px 90px;
        background: #fff;
        line-height: 1.75;
        box-shadow: 0px 4px 18px rgba(#000, 0.12);
        border-radius: 36px;
        transition: all 0.2s;
        transform-origin: left top;
      }
  
      @include media-breakpoint-up(xl) {
        top: -30px;
        left: -40px;
        width: 392px;
        padding: 28px 40px 40px 90px;
      }
  
      &--hidden {
        opacity: 0;
        visibility: hidden;
        transform: scale(0.95);
      }
    }
  
    &__num-tooltip {
      color: #000;
  
      @include media-breakpoint-up(md) {
        display: none !important;
      }
  
      .ant-tooltip-inner {
        color: inherit;
        border-radius: 20px;
        padding: 20px;
      }
    }
}